<div class="dataminr-content">
  <div class="dataminr-header">
    <div class="dataminr-header-left">
      <span class="dataminr-notification-header-title">{{name}}</span>
      <div class="dataminr-alert-icons-container">
        <span id="dataminr-alert-icon-none" class="dataminr-alert-icon" title="Waiting for Alerts" aria-label="Waiting for Alerts" style="display: inline-block;">0</span>
        <span class="dataminr-alert-icon dataminr-alert-icon-flash" title="Flash" aria-label="Flash" data-alert-type="Flash" style="display: none;">0</span>
        <span class="dataminr-alert-icon dataminr-alert-icon-urgent" title="Urgent" aria-label="Urgent" data-alert-type="Urgent" style="display: none;">0</span>
        <span class="dataminr-alert-icon dataminr-alert-icon-alert" title="Alert" aria-label="Alert" data-alert-type="Alert" style="display: none;">0</span>
      </div>
      <button class="dataminr-clear-all-alerts-btn" type="button" aria-label="Clear All Alerts" style="display: none;">Clear All Alerts</button>
      <span id="dataminr-polling-error" style="display: none;">There was an error polling for alerts. <button class="dataminr-restart-polling-btn" type="button" aria-label="Restart Polling">Restart Polling</button></span>
    </div>
    <div class="dataminr-show-body-icon">
      <svg class="dataminr-chevron-icon" width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 6L8 10L12 6" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
  <div class="dataminr-body">
  </div>
</div>